* {
  font-family: sans-serif;
  text-align: center;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 10px;
  font-size: 24px;
}

footer {
  height: 50px;
}
p {
  color: grey;
}

.container {
  display: flex;
  justify-content: center;
}

.roadtrips {
  display: flex;
  align-items: center;
  gap: 10px;
}

img {
  border-radius: 10px;
}

fieldset {
  margin-top: 50px;
}
.enquiry_form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

button {
  background-color: green;
  color: white;
  width: 100px;
}
